<p id="notice"><%= notice %></p>
<div class="music-menu">
  <h1>音楽データ</h1>
  <a class="bg-primary text-white" href="/music/albums">アルバム一覧</a>
  <a class="bg-success text-white" href="/music/singles">シングル一覧</a>
  <a class="bg-danger text-white" href="/music/songs">楽曲一覧</a>
</div>