<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div class="about">
      <h1>このサイトについて</h1>
      <p>
        ロックバンド「L'Arc~en~Ciel」の非公式ファンサイトです。<br>
        楽曲やライブなどの情報をまとめて掲載しております。<br>
        著作権等の権利については充分に配慮しておりますが、問題があると思われる際は、下記までお問い合わせください。<br>
        <br>
        ○お問い合わせ<br>
        管理人：伊波優治<br>
        メールアドレス：yuujiiha.work@gmail.com<br>
      </p>
    </div>
  </body>
</html>