<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div class="links">
      <h1>リンク集</h1>
      
      <p>●L'Arc~en~Ciel公式サイト</p>
      <a href="https://www.larc-en-ciel.com/" target="_blank">L'Arc~en~Ciel公式サイト</a>
      
      <p>●L'Arc~en~Cielオフィシャルファンクラブ</p>
      <a href="https://www.le-ciel.com/" target="_blank">L'Arc~en~Ciel Official Fanclub LE-CIEL</a>
      
      <p>●L'Arc~en~Ciel所属プロダクション：MAVERIC DC</p>
      <a href="https://maverick-dci.com/" target="_blank">MAVERICK DC GROUP</a>
      
      <p>●L'Arc~en~Ciel所属音楽レーベル：SonyMusic</p>
      <a href="https://www.sonymusic.co.jp/" target="_blank">ソニーミュージック オフィシャルサイト</a>
      
      <h5><%= link_to "Back", "/" %></h5>
    </div>
  </body>
</html>