<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div class="top-wrapper">
      <div class="main-menu">
        <div class="container">
          <h1 class="top-title">L'Arc~en~Ciel非公式ファンサイト</h1>
          <h1 class="top-title">Ciel SLIP</h1>
          <div class="row no-gutters">
            <div class="col">
              <a class="btn btn-primary music" href="/music" role="button"><span class="fas fa-compact-disc">音楽データ</span></a>
            </div>
            <div class="col">
              <a class="btn btn-danger video" href="#" role="button"><span class="fas fa-video">映像作品データ(準備中)</span></a>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <a class="btn btn-warning live" href="/concerts" role="button"><span class="fas fa-guitar">ライブデータ</span></a>
            </div>
            <div class="col">
              <a class="btn btn-success official-link" href="/links" role="button"><span class="fas fa-sticky-note">リンク集</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>