<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <p><%= "#{@order}." %></p>
            </td>
            <td>
                <h4><%= song.title %></h4>
            </td>
        </tr>
    </tbody>
</table>

<% @order += 1 %> 

