// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

.album-box {
    border: inset 2px gray;
    padding-top: 50px;
    padding-bottom: 50px;
}

.album-box:hover {
    background-color: white;
    border: solid 4px #e4e4e4;
}

.album-detail:hover {
    color: black;
}

#album-title {
    padding-bottom: 10px;
}

#release-date {
    padding-bottom: 60px;
}

#songs-header {
    padding-bottom: 20px;
}