// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.concert-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}