main {
  height: calc(100vh - 50px);
  min-height: calc(100vh - 50px);
}

footer {
  height: 50px;
}

.bg-home {
  background-color: #1e90ff;
}

.music-menu {
  margin: 0 auto;
}

.concert-menu {
  margin: 0 auto;
}