// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.song-data {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}