<footer class="bg-light  justify-content-end align-items-end">
  <p><%= link_to "このサイトについて" , "/about" %></p>
  <div class="text-muted small px-3">Ciel SLIP</div>
</footer>

<%
=begin
%>
<footer class="nav nav-fill">
  <li class="nav-item">
    <p><%= link_to "このサイトについて" , "/about" %></p>
  </li>
  <li class="nav-item">
    <div>Ciel SLIP</div>
  </li>
</footer>
<%
=end
%>